h1, h2, h3, h4, h5, h6, ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

li:hover {
  background-color: #603CA3;
  color: white
}

/* Loading Screen */

.loadingScreenContain {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 6;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #603CA3;
  animation: slideUp 3s cubic-bezier(.21,.07,.3,.97);
}

.faceContain {
  display: flex;
  justify-content: center;
  align-items: center;
  animation: faceRotate 1.25s cubic-bezier(.21,.07,.3,.97);
}

.face {
  position: absolute;
  width: 50vw;
}

.face.left {
  animation: rightDrop 1.25s cubic-bezier(.21,.07,.3,.97);
}

/* header */

.headerContain {
  position: fixed;
  top: 0;
  z-index: 3;
  width: 100vw;
  height: 9vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #603CA3dd
}

.logo {
  width: 5vh;
  z-index: 4;
  padding: 3vw;
  margin: 0 2vw
}

.menuListDesktop {
  height: 9vh;
  display: flex;
  flex-direction: row;
  align-items: center
}

.menuListDesktop li {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 5vw;
  color: white
}

.menuIcon, .exitMenuIcon {
  width: 4vh;
  height: 4vh;
  padding: 1vh;
  margin-right: 2vw
}

.exitMenuIcon {
  margin: 1.5vh 2vw;
}

/* Drawer Contain */

.backdrop {
  position: absolute;
  width: 100vw;
  height: 100%;
  z-index: 3;
  background-color: #00000033;
  animation: backdrop 0.4s cubic-bezier(.21,.07,.3,.97);
}

.drawerContain {
  width: 60vw;
  height: 100vh;
  right: 0;
  position: absolute;
  z-index: 4;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background: white;
  box-shadow: -3px 0 10px #00000099;
  animation: slideLeft 0.4s cubic-bezier(.21,.07,.3,.97);
}

.menuListMobile {
  width: 60vw;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  animation: slideLeft 0.75s cubic-bezier(.21,.07,.3,.97);
}

.menuListMobile li {
  width: 50vw;
  display: flex;
  justify-content: flex-end;
  padding: 2vh 10vw 2vh 0
}

/* scrollContain */

.scrollContain {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 9vh 0 5vw 0
}

/* characterCard */

.charCardContain {
margin-top: 5vw;
}

.charCard {
  width: 85vw;
  background-color: white;
  height: inherit;
  margin: 0 7vw 0 5vw
}

.charImg {
  position: absolute;
  width: 25vw;
  height: 15vw;
  z-index: 2
}

.charNameContain {
  height: 14vw;
  display: flex;
  align-items: center;
  margin-left: 1.5vw;
  border: .5vw black solid;
  transform: skewX(-12.5deg)
}

.charNameContain:hover {
  box-shadow: 1.5vw 1.5vw 0 black
}

.charName {
  margin-left: 25vw
}

/* MoveList */

.menuCategory {
  width: 100vw;
  background: #d1d1d1;
  margin-top: 5vw;
  padding: 2vh 0 1vh
}

.categoryName {
  width: 90vw;
  margin-left: 5vw
}

.moveCardContain {
  width: 100vw;
  z-index: 3;
  display: flex;
  flex-direction: row;
  border-bottom: .75px solid black
}

.moveImg {
  height: 17.5vw;
  z-index: 2;
}

.moveTextBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 5vw;
}

/* Data Contain */

.imgContain {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e1e1e1;
  padding: 5vw 0
}

.dataImg {
  width: 50vw
}

.dataCategory {
  width: 90vw;
  background: #d1d1d1;
  margin-top: 5vw;
  padding: 2vh 0 1vh
}

.dataCategoryName {
  width: 80vw;
  margin-left: 2vw
}

.item {
  width: 86vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2vw 0;
  margin: 0 2vw;
  border-bottom: .75px solid black
}

.dataType {
  width: 50vw
}

.dataVar {
  width: 36vw
}

@keyframes slideLeft {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes backdrop {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes rightDrop {
    0% {
        transform: translateX(1.4vw) translateY(-2.8vw);
    }
    33% {
        transform: translateX(0) translateY(-2.8vw);
    }
    66% {
        transform: translateX(0) translateY(0);
    }
}

@keyframes faceRotate {
    0% {
        transform: rotate(9deg);
    }
    66% {
        transform: rotate(9deg);
    }
    100% {
        transform: rotate(0);
    }
}

@keyframes slideUp {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-100%);
    }
}

@media only screen and (min-width: 600px) {
  .menuIcon, .exitMenuIcon {
    display: none
  }
}

@media only screen and (max-width: 600px) {
  .menuListDesktop {
    display: none
  }
}
